@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }

  * {
    @apply box-border p-0 m-0 text-white;
  }

  h1 {
    @apply text-3xl md:text-5xl font-bold;
  }

  h2 {
    @apply text-xl md:text-5xl font-bold;
  }

  p {
    @apply text-base md:text-lg font-normal;
  }
}

@layer components {
  .swiper-pagination .swiper-pagination-bullet {
    background-color: white; /* Dot color */
    opacity: 0.7; /* Transparency for inactive dots */
    transition: opacity 0.3s ease;
  }

  .swiper-pagination .swiper-pagination-bullet-active {
    opacity: 1; /* Fully visible for active dot */
    background-color: #fbcb2b; /* Custom color for active dot */
  }
}

@layer utilities {
  .myFlex {
    @apply flex items-center justify-center;
  }
}
